/*
    Use the DejaVu Sans font for displaying and embedding in the PDF file.
    The standard PDF fonts do not support Unicode characters.
*/
div {
  font-family:"DejaVu Sans", sans-serif;
  font-size: 11px;
}

@font-face {
  font-family: "DejaVu Sans";
  src: url("https://kendo.cdn.telerik.com/2017.2.621/styles/fonts/DejaVu/DejaVuSans.ttf") format("truetype");
}



.pdf-page{
  
}
.cartdetailItem{
    width: 664px;
    height: 115px;
    display: flex;
    margin: 10px 0;
    margin-left: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
  }

  .img-product-detail{
    width: 110px;
    height: 110px;
  }

  .infoProduct{
      display: flex ;
  }

  .name-Product{
      font-size: 15px;
  }
  /* .warehouseCount-Product{
      font-size: 19px;
  } */

  .price-Product-detail-order{
    position: relative;
    right: 211px;
    width: max-content;
    top: 68px;
  }

  th, td{
    font-size: 15px;
  }